body {
  display: block;
  margin: auto;
  background-color: rgb(61, 60, 60);
  background-image: url('497262.jpg');
  }
  
div {
  display: block;
  margin: auto;
  background-color: rgb(125, 125, 125);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.border {
  display: block;
  border: 3px solid rgb(81, 0, 128);
  padding: 10px;
}
