body {
  margin: auto;
  background-color: rgb(55, 55, 55);
  }
  
div {
  margin: auto;
  background-color: rgb(125, 125, 125);
  border: 3px solid rgb(81, 0, 128);
  padding: 10px;
}

.center {
  margin: auto;
  width: 50%;
}

.fill_parent {
  width: max-content;
  height: max-content;
}
